#getit_link1_0 .section-body > div{
    display: flex;
    flex-direction: column;
}

#getit_link1_0 .section-body div prm-opac{
    order: -9 !important;
}


#getit_link1_0 .section-body div prm-alma-other-members{
    order: -8 !important;
}


#getit_link1_0 .section-body div alma-htgi-svc{
    order: -7 !important;
}

prm-alma-other-members .medium-uppercase-bold{
    font-size: 16px;
}

prm-alma-other-members button.section-title{
    background-color: white;
}

#getit_link1_0 .section-body .layout-fill{
    min-height: 36px;
    height: auto;
}

#getit_link1_0 .section-body .layout-fill.collapsed{
    min-height: 100%;
    height: 100%;
}
